* {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* hero section */
.hero-text {
    font-size: 5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.img-container {
    background-image: url("../Images/aboutUs-bg-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* filter: blur(1px); */
    background-color: rgba(226, 11, 11, 0.4);
}

/* what we do section */
.what-we-do-text {
    font-size: 1.5rem;
}