* {
  font-family: "poppins";
}

:root {
  --blue-color: #1d1dff;
  --green-color: #22af00;
}

.lora {
  font-family: "lora";
}

/* cursor animation */
#heading::after {
  content: "|";
  margin-left: 3px;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 3000px) {

  html,
  body {
    overflow-x: hidden;
  }
}

/* navbar */
.my-nav {
  box-shadow: 0 0 10px black;
}

.collapse {
  /* background-color: #f8f9fa; */
  /* border-radius: 1rem; */
  /* padding: .5rem; */
  z-index: 10;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  /* transition: all 0.3s ease; */
}

.navbar-nav> :first-child {
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* .dropdown:hover .dropdown-menu {
  display: block;
} */

/* hero section */
.img-container {
  background-image: url("../Images/contact-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.img-container::before {
  content: "";
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.521);
  height: 100%;
  width: 100%;
  /* margin-top: 70px; */
}

.navbar-nav {
  font-size: 1.15rem;
}

.hero-text {
  font-family: "Lora";
  font-size: 4rem;
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: end;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

@media (max-width: 500px) {
  .hero-text {
    font-size: 3rem;
  }
}

/* form section ⬇️⬇️ */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box {
  padding: .5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 2px solid transparent;
  background-color: hsl(0, 0%, 95%);
  box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.447);
  transition: all 0.3s ease;
}

.input-box:focus {
  border: 2px solid var(--blue-color);
  box-shadow: 0px 0px 10px var(--blue-color);
}

.submit-btn {
  padding: 0.8rem 3rem;
  font-size: 1.5rem;
  color: white;
  background-color: var(--blue-color);
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.submit-btn:hover {
  background-color: hsl(240, 100%, 40%);
  color: white;
}

/* .submit-btn:active,
.submit-btn:focus {
    color: white;
    background-color: hsl(240, 100%, 45%);
} */

/* calender */
.calendar-container {
  margin: 1rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
}

#calendar {
  width: 600px;
  margin: auto;
}

.fc-today-button {
  background-color: var(--green-color) !important;
  outline: none !important;
  border: none !important;
}

.fc-prev-button,
.fc-next-button {
  background-color: var(--green-color) !important;
  outline: none !important;
  border: none !important;
}

.fc-toolbar-title {
  color: var(--green-color);
}

/* appointment container */
.appointment-container {
  background-color: hsla(0, 0%, 95%);
  border-radius: 1rem;
}

@media (max-width: 1100px) {
  .appointment-container {
    flex-direction: column !important;
  }
}

@media (max-width: 770px) {
  #calendar {
    width: 320px !important;
    /* width: 350px !important; */
    margin: auto !important;
    /* padding: none !important; */
  }

  .calendar-container {
    padding: 1.5rem 0 !important;
  }

  .fc-toolbar-title {
    font-size: 1rem !important;
  }
}

/* popup menu ⬇️⬇️ */
.warning-message {
  display: none;
}

.popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.708);
}

/* Popup box */
.popup-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.form-input {
  border-radius: 0.5rem;
  outline: none;
  border: 2px solid hsla(0, 0%, 0%, 0.555);
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.form-input:focus {
  outline: var(--blue-color);
  border: 2px solid var(--blue-color);
  box-shadow: 0px 0px 10px var(--blue-color);
}

/* popup for form input ⬇️⬇️ */
.warning-message-form {
  display: none;
}

.popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.708);
}

.popup-content {
  background-color: #fff;
  transform: translateY(100px);
  margin: 10% auto;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/* footer ⬇️⬇️ */
footer {
  background-color: var(--blue-color);
}

.gray-txt {
  color: hsl(0, 0%, 85%) !important;
}

/* .logo {
  height: 80px;
  width: 180px;
  background-color: blanchedalmond;
  color: black;
  margin-left: 1rem;
} */

.a-tag-link {
  transition: all 0.3s ease;
}

.a-tag-link:active,
.a-tag-link:focus {
  color: white !important;
}

.a-tag-link:hover {
  color: white;
  filter: drop-shadow(0px 0px 5px white);
}

/* navbar new */
@media (max-width: 991px) {
  .navbar .dropdown-menu {
    position: absolute !important;
    transition: all .3s ease;
    width: 100%;

  }
}

.dropdown-menu {
  border-radius: 1rem;
}