* {
  font-family: "poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (max-width: 3000px) {

  html,
  body {
    overflow-x: hidden;
  }
}

:root {
  --blue-color: #1d1dff;
  /* --green-color: #22af00; */
  --green-color: #198754;
}

.navbar-nav {
  font-size: 1.15rem;
}

.lora {
  font-family: "lora", sans;
}

/* cursor animation */
#heading::after {
  content: "|";
  margin-left: 3px;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* enquiry button */
.btn-style5112 {
  position: relative;
  border-color: white;
  background-color: #198754;
  color: white;
  overflow: hidden;

  span {
    position: relative;
    z-index: 2;
  }

  &::before,
  &::after {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    background-color: #198754;
    transition: all 0.25s;
    content: "";
    z-index: 1;
  }

  &::before {
    top: 0;
    transform: translate(-100%, 0);
  }

  &::after {
    bottom: 0;
    transform: translate(100%, 0);
  }

  &:hover {
    color: #fff;

    &::before,
    &::after {
      transform: translate(0, 0);
    }
  }
}

.click-btn2 {
  /* display: none; */
  width: 180px !important;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  transform: translateY(-80%) rotate(-90deg) !important;
  transform-origin: right center !important;
  box-shadow: 0 0 6px black !important;
  background-color: #1d1dff !important;
  font-size: 16px !important;
  color: white !important;
  text-decoration: none !important;
  font-size: large !important;
  font-weight: bold !important;
  position: fixed !important;
  /* bottom: 15rem; */
  top: 50% !important;
  right: 0 !important;
  width: 180px !important;
  transition: all 0.35s !important;
  z-index: 1000;
}

/* navbar */
.my-nav {
  box-shadow: 0 0 10px black;
}

.collapse {
  /* background-color: #f8f9fa; */
  /* border-radius: 1rem; */
  /* padding: .5rem; */
  z-index: 10;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  /* transition: all 0.3s ease; */
}

.navbar-nav> :first-child {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* .dropdown:hover .dropdown-menu {
  display: block;
} */

/* footer */
footer {
  background-color: var(--blue-color);
}

.gray-txt {
  color: hsl(0, 0%, 85%) !important;
}

/* .logo {
  height: 80px;
  width: 180px;
  background-color: blanchedalmond !important;
  color: black;
  margin-left: 1rem;
} */

.a-tag-link {
  transition: all 0.3s ease !important;
}

.a-tag-link:active,
.a-tag-link:focus {
  color: white !important;
}

.a-tag-link:hover {
  color: white;
  filter: drop-shadow(0px 0px 5px white);
}

/* hero section */
.hero-title {
  font-size: 3.5rem !important;
}

/* .img-container {
  background-image: url("../Images/service-4-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.img-container::before {
  content: "";
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.521);
  height: 100%;
  width: 100%;
  margin-top: 50px;
} */

.landc-img {
  /* max-height: 20rem !important; */
  object-fit: cover;
  transition: all 0.5s ease;
}

.img-parent-container {
  border-radius: 1.5rem;
  overflow: hidden;
  width: 280px;
}

.landc-img:hover {
  transform: scale(1.1);
}

.landc-sh {
  color: var(--blue-color) !important;
  font-weight: 600;
}

/* how we work ⬇️⬇️ */
.hww-img {
  transition: all 0.3s ease;
}

.hww-img:hover {
  transform: rotate(8deg) scale(1.05);
}

/* trusted legal council section  */
.content {
  border-radius: 20px;
  position: relative;
  background-color: whitesmoke;
  z-index: 1;
  width: 90%;
}

@media (max-width: 768px) {
  .content {
    width: 100% !important;
  }
}

.trusted-legal-sec {
  background-color: transparent;
  position: relative;
}

/* green box */
.trusted-legal-sec::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 700px;
  background-color: var(--green-color);
  z-index: -1;
}

.trusted-legal-sec::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  background-color: var(--green-color);
  z-index: -1;
}

/* green box new */
.green-box-1 {
  height: 650px;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: -1;
  background-color: var(--green-color);
  transform: translateY(230px);
}

.green-box-2 {
  height: 550px;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: -1;
  background-color: var(--green-color);
  transform: translateY(-530px);
}

.trusted-legal-sec::before {
  top: 0;
}

.trusted-legal-sec::after {
  bottom: 0;
}

/* how we work section */
.green-font {
  color: var(--green-color) !important;
}

.blue-font {
  color: var(--blue-color) !important;
}

/* enquiry button  */
.phone-icon {
  transition: all .3s ease;
  background-color: blue;
}

.phone-icon:hover {
  background-color: #198754;
}

.whatsapp-icon {
  transition: all .3s ease;
  background-color: #198754;
}

.whatsapp-icon:hover {
  background-color: #198754;
}

/* navbar new */
/* @media (max-width: 991px) {
  .navbar .dropdown-menu {
    position: absolute !important;
    transition: all .3s ease;
    width: 100%;
  }
}

.dropdown-menu {
  border-radius: 1rem;
} */

#custom-dropdown {
  /* position: absolute; */
  /* width: auto; */
  /* max-width: 10rem; */
  width: 290px;
  border-radius: 0.5rem;
}

.nav-item.dropdown {
  position: relative;
}